@model DCProyectoPersMVC.Models.DCBebida

@{
    ViewData["Title"] = "DCCreate";
}

<h1>Create</h1>

<h4>DCBebida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DCCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DC_Nombre" class="control-label"></label>
                <input asp-for="DC_Nombre" class="form-control" />
                <span asp-validation-for="DC_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DC_Precio" class="control-label"></label>
                <input asp-for="DC_Precio" class="form-control" >
                <span asp-validation-for="DC_Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DC_Tipo" class="control-label"></label>
                <select asp-for="DC_Tipo" class="form-control" asp-items="@(ViewData["DCTipos"] as SelectList)"></select>

                <span asp-validation-for="DC_Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="DCCreate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DCIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
